
html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    background: #ffffff url(../img/bg-page.jpg) repeat left top;
    font-family: 'Anonymous Pro', monospace;
    line-height: 180%;
    }


  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b, strong {
    font-weight: bolder;
  }
  
  code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  small {
    font-size: 80%;
  }
  
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  p, h1, h2, h3 {
    margin: 0;
  }
  
  button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button, input {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type='checkbox'], [type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }
  
  [type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  a.active.focus, a.active:focus, a.focus, a:active.focus, a:active:focus, a:focus, button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  }
  

.section-hero {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow: hidden; 
    background-image: url('../img/bg-visual-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    width: 100%;
    height: 900px;
  }

  .fixed-top {
    background: #ffffff url(../img/bg-page.jpg) repeat left top !important;

  }
  

.hero-menu {
  margin: 2rem;
  text-align: center;

}

.hero-info {
  background-image: url('../img/bg-domanda-intervista.png');
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: contain !important;
  color: #ffffff !important;

}

.card {
  background-color: transparent !important;
  border-radius: 0px !important;
  color: black !important;
  border-color: black;
}

.card-img, .card-img-top {
  border-radius: 0px !important;
}

.my-card-text {
  color: black !important;
}

.my_link {
  color: #696969 !important;
  text-decoration: none !important;
  transition: 2ms;
}

.my_link:hover,
.my_link:active
 {
  color: #0677a4 !important;
  background-image: url('../img/bg-domanda-intervista.png');
  background-repeat: repeat-y;
  background-size:auto;
  background-position: bottom;

}

.my_link a{
  color: #0677a4 !important;
  text-decoration: none !important;
  transition: 2ms;
  
}

.my_link a:hover,
.my_link a:active
 {
  color: #0677a4 !important;
  background-image: url('../img/bg-domanda-intervista.png');
  background-repeat: repeat-y;
  background-size:auto;
  background-position: bottom;

}


.section-back {
  min-height: 1400px;
  background-image: url(../img/bg-intervista.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  overflow: visible;
}

.errorlist {
    color: red;
}

.pagination {
  --bs-pagination-bg: none !important;
}

.page-link {
  border: var(--bs-pagination-border-width) solid #000000 !important;
  color: #000000 !important;
}

.base-my-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.base-my-nav-active {
  background:#000000 !important; 
  color: #ffffff !important;
}

.page-item:last-child .page-link {
  border-radius: 0px !important;
}


.page-item:first-child .page-link {
  border-radius: 0px !important;
}

.active > .page-link {
  background:#000000 !important; 
  color: #ffffff !important;
  border-color: #000000 !important;
}

.btn-form {
  display: flex;
  flex-direction: column;
  background-image:url(../img/buttonnext.png); 
  background-repeat: no-repeat;
  background-size:auto;
  min-height: 161px;
  background-position: center;
}

.btn-form-text {
  color: #ffffff !important;
  padding: 40px;
}

.btn-form-text:hover,
.btn-form-text:active
 {
  color: #eed9d9 !important;
}