{% extends 'base.html' %}
{% block title %}
	{{ news_item }}
{% endblock %}

{% include 'inc/_sidebar.html' %}

{% block content %}

<div style="margin-bottom: 2rem;">


		{% for item in news_item %}
		<img class="card-img-top" src="{{ item.photo.url }}" style="height: 40rem; width: 100%;  object-fit: cover;">


	    <h5 class="card-title mb-4 mt-4 fw-bold">  {{ item.title }}</h5>

	    <p class="card-text my-card-text mb-4 mt-4">
		    {{ item.content|linebreaksbr}}
	    </p>

		<hr>

	    <div class=" text-muted ">
	        {{ item.created_at |date:'d/m/Y H:i' }}
	    </div>
		{% endfor %}

	    {% for btm in news %}
		<div class="pagination">
	    <span class="step-links">
	        {% if btm.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ btm.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ btm.number }} of {{ btm.paginator.num_pages }}.
	        </span>

	        {% if btm.has_next %}
	            <a href="?page={{ btm.next_page_number }}">next</a>
	            <a href="?page={{ item.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
		</div>
			{% endfor %}







</div>

{% endblock %}
