{% extends 'base.html' %}
{% block title %} {{ category.title }} {% endblock %}

{% block sidebar %}
	{% include 'inc/_sitebar.html' %}
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 ">

	      {% for item in news %}
	      <div style="margin-bottom: 2rem;">
	       <div class="col">
	         <div class="card">

	             <img class="card-img-top" src="{{ item.photo.url }}" style="height: 18rem; width: 100%;  object-fit: cover;">
	            <div class="card-body">
		            <p class=" mb-4 mt-4" > Категория: <a class="my_link" href ="{% url 'category' item.category.pk %}">{{ item.category }}</a><p>


	              <h5 class="card-title mb-4 mt-4 fw-bold">  {{ item.title }}</h5>
	              <p class="card-text my-card-text mb-4 mt-4">{{ item.content|linebreaksbr|truncatewords:15 }}</p>
		          <a href="{{ item.get_absolute_url}}" class="my_link mb-4 mt-4">Прочитать новость полностью</a>
	            </div>

	            <div class="card-footer text-muted">
		            {{ item.created_at |date:'d/m/Y H:i' }}
	            </div>

	          </div>
	       </div>
	      </div>
        {% endfor %}
</div>
{% endblock %}
