

{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ news_item }}
{% endblock %}

{% include 'inc/_sidebar.html' %}


{% block content %}



<div style="margin-bottom: 2rem;">
		<img class="card-img-top" src="{{ news_item.photo.url }}" style="height: 40rem; width: 100%;  object-fit: cover;">

	    <div class="mb-4 mt-4">
		    <p class=""> Категория:
			        <a class="my_link" href="{{ object.category.get_absolute_url }}">{{ news_item.category }}</a>
		    <p>
	    </div>

	    <h5 class="card-title mb-4 mt-4 fw-bold">  {{ news_item.title }} </h5>

	    <p class="card-text my-card-text mb-4 mt-4">
		    {{ news_item.content|linebreaksbr}}
	    </p>

		<hr>
		<p>{{news_item.views}}</p>

	    <div class=" text-muted ">
	        {{ news_item.created_at |date:'d/m/Y H:i' }}
	    </div>

</div>

<!--{% if is_paginated %}-->
<!--    {% if page_obj.has_previous %}-->
<!--        <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--    {% endif %}-->
<!--    {% if page_obj.has_next %}-->
<!--        <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--    {% endif %}-->
<!--{% endif %}-->
<!--		<div class="preview_news">-->
<!--				<a href="" >-->

<!--					<img class="" src="{% static 'img/btn-prev-blocco6.png' %}" alt="next">-->
<!--				</a>-->
<!--			</div>-->
<!--			<div class="next_news">-->
<!--				<a href="" >-->
<!--					<img class="" src="{% static 'img/btn-next-blocco6.png' %}" alt="preview">-->
<!--				</a>-->
<!--			</div>-->

<!--		</div>-->



{% endblock %}

