{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% include 'inc/_sidebar.html' %}

{% block content %}

<div class="row row-cols-1 g-4 ">
{% for item in recommended_news %}
	       <div class="col mb-5">
	         <div class="card">

		        <img class="card-img-top" src="{{ item.photo.url }}" style="height: 18rem; width: 100%;  object-fit: cover;">
	            <div class="card-body">
                <p class="mb-4 mt-4"> Категория: <a class="my_link" href="{% url 'category' item.category.pk %}">{{ item.category }} </a><p>

	              <h5 class="card-title mb-4 mt-4 fw-bold">  {{ item.title }}</h5>
	              <p class="card-text my-card-text mb-3 mt-3">{{ item.quotation|linebreaksbr}}</p>
		          <a href="{{ item.get_absolute_url }}" class="my_link mb-4 mt-4">Прочитать новость полностью</a>
	            </div>

	            <div class="card-footer text-muted">
		            {{ item.created_at |date:'d/m/Y H:i' }}
	            </div>

	          </div>
	       </div>
{% endfor %}
</div>


{% endblock %}

